<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LojasRede22300570"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LojasRede22300570">
        <activity
            android:name=".TesteActivity"
            android:exported="false" />
        <!-- MainActivity com filtro de launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Outras Activities fora do Main -->
        <activity android:name=".CadastroActivity" />
        <activity android:name=".BemVindoActivity" />
    </application>

</manifest>